{% extends 'base.html' %}

{% block content %}
<br>
<br>
<br>

<h4 style="font-family: 'Finger Paint', cursive; color:#683200">looks like you chose...</h4>
<div class="row">

<div class="jumbotron text-center col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12" style="background-image: url('https://images.unsplash.com/photo-1516541196182-6bdb0516ed27?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80'); border-radius: 20px">

  <!-- Title -->
  <h4 class="card-title h4 pb-2" style="font-family: 'Cabin Sketch', cursive; "><strong>{{ recipe.recipe_name }}</strong></h4>

  <!-- Card image -->
  <div class="view overlay my-4 text-center">
    <img src="{{ recipe.recipe_image }}" class="img-fluid mx-auto d-block" id="recipe-img" style="width:400px; height:450px">
    <a href="{{ recipe.recipe_url }}" target="_blank">
      <div class="mask flex-center rgba-white-light"><p class="white-text" style="font-size:20px;">INSTRUCTIONS</p></div>
     </a>
  </div>
</div>
<!-- Jumbotron -->

<div class="jumbotron text-center col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12" id="movie" style="background-image: url('https://images.unsplash.com/photo-1516541196182-6bdb0516ed27?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80'); border-radius: 20px">

  <!-- Title -->
  <h4 class="card-title h4 pb-2" style="font-family: 'Cabin Sketch', cursive;"><strong>{{ movie.movie_name }}</strong></h4>

  <!-- Card image -->
  <div class="view overlay my-4 text-center">
    <img src="{{ movie.movie_image }}" class="img-fluid mx-auto d-block" id="movie-img" style="width:400px; height:450px">
     <a href="{{ movie.movie_url }}" target="_blank">
       <div class="mask flex-center rgba-white-light"><p class="white-text" style="font-size:20px;">INFORMATION</p></div>
     </a>
  </div>

</div>
<!-- Jumbotron -->
</div>
{% endblock %}