{% extends 'base.html' %}

{% block content %}
<br>
<br>
<br>

 



<h4 style="font-family: 'Finger Paint', cursive;">looks like you chose...</h4>
<div class="row">

<div class="jumbotron text-center col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">

  <!-- Title -->
  <h4 class="card-title h4 pb-2" style="font-family: 'Cabin Sketch', cursive;"><strong>{{ recipe.recipe_name }}</strong></h4>

  <!-- Card image -->
  <div class="view overlay my-4 text-center">
    <img src="{{ recipe.recipe_image }}" class="img-fluid mx-auto d-block" id="recipe-img" style="width:400px; height:450px">
    <a href="{{ recipe.recipe_url }}" id="recipe-url">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>
</div>
<!-- Jumbotron -->

<div class="jumbotron text-center col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12" id="movie">

  <!-- Title -->
  <h4 class="card-title h4 pb-2" style="font-family: 'Cabin Sketch', cursive;"><strong>{{ movie.movie_name }}</strong></h4>

  <!-- Card image -->
  <div class="view overlay my-4 text-center">
    <img src="{{ movie.movie_image }}" class="img-fluid mx-auto d-block" id="movie-img" style="width:400px; height:450px">
    <a href="{{ movie.movie_url }}" id="movie-url">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

</div>
<!-- Jumbotron -->
</div>

{% endblock %}

    
<!--     <a href="https://www.youtube.com/watch?v={{ video }}"><img src="https://www.capebretonpost.com/media/photologue/photos/cache/sw-web-09042018-youtube_logo_large.jpg"></a>Watch on YouTube
    <br>
    <form action="/save_activity">
        <input type="submit" value="Save This Activity and Browse Random Recipes">
    </form>
    <br>
 -->