{% extends 'base.html' %}

{% block content %}

<body>

    <form action="/get_random_recipe" method="GET">
        <input type="submit" value="Feelin' Real Random Today" name="search_recipe_name"></input>
    </form> 


    <form action="/get_recipe_ingr" method="GET">
        <input type="submit" value="Feelin' Real Controlling Today" name="search_ingredients"></input>
    </form>


    <form action="/logout" method="GET">
        <input type="submit" value="Log Out" name="logout"></input>
    </form>


</body>


{% endblock %}

<!-- 
    <form action="/movies" method="GET">
        Movie Title: <input type="text" name="movie" placeholder="Get Movie Recommendation"></input>
        <br>
            <input type="submit" value="Search" name="search_movie"></input>
        <br>
    </form> -->