{% extends 'base.html' %}

{% block content %}

<body>

    <form action="/recipes" method="GET">
        Search: <input type="text" name="search_recipe" placeholder="Get Recipe"></input> 
        <br>
            <input type="submit" value="Search" name="search_recipe"></input>
        <br>
        Ingredients: <input type="text" name="ingredients" placeholder="Get Recipe By Ingredients">
        </input>
        <br>
            <input type="submit" value="Search" name="ingredients"></input>
        <br>
    </form>

    <form action="/login" method="GET">
        <input type="submit" value="Log In" name="login"></input>
    </form>

    <form action="/movies" method="GET">
        Movie Title: <input type="text" name="movie" placeholder="Get Movie Recommendation"></input>
        <br>
            <input type="submit" value="Search" name="search_movie"></input>
        <br>
    </form>

    <form action="/tv_shows" method="GET">
        TV Show Title: <input type="text" name="tv_show" placeholder="Get TV Show Recommendation">
        </input>
        <br>
            <input type="submit" value="Search" name="tv_show"></input>
    </form>

</body>


{% endblock %}