{% extends 'base.html' %}

{% block content %}
<head>

<link rel="stylesheet" href="/static/index.css">
</head>
<!-- https://images.unsplash.com/photo-1515003197210-e0cd71810b5f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80
https://images.unsplash.com/photo-1528712306091-ed0763094c98?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=760&q=80 
https://images.unsplash.com/photo-1523039031846-6b3f39302cb8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1550&q=80
https://images.unsplash.com/photo-1466637574441-749b8f19452f?ixlib=rb-1.2.1&auto=format&fit=crop&w=1100&q=80-->
    <!-- Main navigation -->
    <header>   
    <div class="alert alert-success" style="display:none" id="alert-yes">
    <strong>Success!</strong> You are now logged in.
    </div>
    <div class="alert alert-danger" style="display:none" id="alert-no">
    <strong>Invalid credentials!</strong> Please try logging in again.
  </div>
        <!-- Full Page Intro -->
        <div id="intro-section" class="view">
           <video class="video-intro" poster="https://images.unsplash.com/photo-1515003197210-e0cd71810b5f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"></video>
            <!-- Mask & flexbox options-->
            <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
                <!-- Content -->
                <div class="container px-md-3 px-sm-0">
                    <!--Grid row-->
                    <div class="row wow fadeIn">
                        <!--Grid column-->
                        <div class="col-md-12 mb-4 white-text text-center wow fadeIn">
                            <h3 class="display-3 font-weight-bold white-text mb-0 pt-md-5 pt-5">YouChewb</h3>

                            <h4 class="subtext-header mt-2 mb-4">not sure what to cook and watch tonight?</h4>

                            <form action="/display_random_recipe_and_movie">
                            <p id="button">
                            <button class="btn btn-rounded" style="height:50px; width:300px; background-color:rgb(186,186,186, 0.3); border-radius:10px; font-family: 'Cabin Sketch', cursive; font-size:14px;">Get a Recipe & Movie Suggestion</button>
                            </form>
                            <form action="/display_random_recipes">
                            <button class="btn btn-rounded" style="height:50px; width:300px; background-color:rgb(186,186,186, 0.3); border-radius:10px; font-family:'Cabin Sketch', cursive; font-size:16px">Browse Recipes</button>
                            </form>
                            <form action="/display_movie_rec_by_filters">
                            <button class="btn btn-rounded" style="height:50px; width:300px; background-color:rgb(186,186,186, 0.3); border-radius:10px; font-family:'Cabin Sketch', cursive; font-size:16px">Browse Movies</button>
                            </form>
                            </p>
                                <br>
<!--                                 <hr class="hr-light my-4 w-75">
 -->
{% if session['user_id'] == '' %}

<div class="card mx-auto" style="height: 280px; width: 250px; background-color: #f4f4f4; opacity:0.9; border-radius:20px">

<!--   <h5 class="card-header bg-gray-dark white-text d-flex justify-content-center align-items-center py-4" style="background-color: #d8d8d8; height: 50px">
    <strong></strong>
  </h5>
 -->
  <!--Card content-->

<form action="/login" method="POST">


  <div class="card-body px-lg-5 pt-0">

    <!-- Form -->
    <form class="text-center" style="color: #757575;">
      <!-- Email -->
      <div class="md-form">
        <input type="email" id="materialLoginFormEmail" class="form-control" name="email" required>
        <label for="materialLoginFormEmail">e-mail</label>
      </div>

      <!-- Password -->
      <div class="md-form">
        <input type="password" id="materialLoginFormPassword" class="form-control" name="password" required>
        <label for="materialLoginFormPassword">password</label>
      </div>

      <!-- Sign in button -->
      <button class="btn btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit" style="color:black; font-size:16px; font-family: 'Cabin Sketch', cursive;" id="login">Log in</button>
        </form>
      <!-- Register -->
<div class="mx-auto text-center d-flex justify-content-center align-items-center">
      <p class="member" style="font-family: 'Cabin Sketch', cursive; color: #757575;">NOT A MEMBER?<br>
        <a href="/register" style="color: black"> REGISTER</p></a>


    </form>
    <!-- Form -->

                        </div>
                        </div>
                    </div>
                </div>
            </div>
{% endif %}

        </header>
  </div>
</div>
{% endblock %}
