{% extends 'base.html' %}

{% block content %}

<body>
Not Sure What You Can Eat and Watch Tonight?
<br>
Welcome to YouChewb
<br>
    <form action="/display_random_recipe_and_movie" method="GET">
        <input type="submit" value="Give Me a Random Recommendation" name="search_recipe_name"></input>
    </form> 


    <form action="/display_random_recipes" method="GET">
        <input type="submit" value="Give Me Some Options" name="search_ingredients"></input>
    </form>
    
    <br>

    <form action="/register" method="GET">
        <input type="submit" value="Register">
    </form>

    <form action="/login" method="GET">
        <input type="submit" value="Log In" name="login"></input>
    </form>

    <form action="/logout" method="GET">
        <input type="submit" value="Log Out" name="logout"></input>
    </form>


</body>


{% endblock %}
