{% extends 'base.html' %}

{% block content %}
<br>
<br>
<br>
<h3>Get a Recommendation by:</h3>
<button class="movie-title-search" value="movie-title-search">
Typing in a Movie Title</button>

<div id="movie-title" style="display:none">
  <form action="/display_movie_rec_by_search" class="form-inline md-form form-sm">
  <input class="form-control form-control-sm mr-3 w-40" type="text" placeholder="movie title" name="search" style="z-index: 9999">
 <button type="submit" style="background: none;padding: 0px;border: none;"><i class="fas fa-search" aria-hidden="true"></i></button></input>
  </form>

</div>
</form>
<button class="movie-filter-search" value="filters">
Filters
</button>
    <br>
<form action="/display_movie_rec_by_filters">
<div id="movie-filter" style="display:none">

    Genre:
      <input type="checkbox" class="genre" value="action" name="genre">Action</input>
      <input type="checkbox" class="genre" value="adventure" name="genre">Adventure</input>
      <input type="checkbox" class="genre" value="animation" name="genre">Animation</input>
      <input type="checkbox" class="genre" value="comedy" name="genre">Comedy</input>
      <br>
      <input type="checkbox" class="genre" value="crime" name="genre">Crime</input>
      <input type="checkbox" class="genre" value="documentary" name="genre">Documentary</input>
      <input type="checkbox" class="genre" value="drama" name="genre">Drama</input>
      <input type="checkbox" class="genre" value="family" name="genre">Family</input>
      <br>
      <input type="checkbox" class="genre" value="fantasy" name="genre">Fantasy</input>
      <input type="checkbox" class="genre" value="war" name="genre">War</input>
      <input type="checkbox" class="genre" value="horror" name="genre">Horror</input>
      <input type="checkbox" class="genre" value="mystery" name="genre">Mystery</input>
      <br>
      <input type="checkbox" class="genre" value="romance" name="genre">Romance</input>
      <input type="checkbox" class="genre" value="science fiction" name="genre">Sci-Fi</input>
      <input type="checkbox" class="genre" value="thriller" name="genre">Thriller</input>      
      <input type="checkbox" class="genre" value="history" name="genre">History</input>  
      <br>
        Year Released:
        <br>
<!--         <input type="radio" class="year" value="1970" name="year">Released after 1970</input>
        <input type="radio" class="year" value="1980" name="year">Released after 1980</input>
        <input type="radio" class="year" value="1990" name="year">Released after 1990</input>
        <br>
        <input type="radio" class="year" value="2000" name="year">Released after 2000</input>
        <input type="radio" class="year" value="2010" name="year">Released after 2010</input> -->
        <input type="text" id="gte" placeholder="Released after" class="year" name="gte">
        <input type="text" id="lte" placeholder="Released before" class="year" name="lte">        
        <br>
        <input type="submit" id="movie-search"></input>

</div>
</form>

<br>
<div class="row">
{% for movie in movies %}

{% set movie_url = "https://www.themoviedb.org/movie/"+movie['id']|string %}        
{% if movie['poster_path'] %}
{% set movie_image = "https://image.tmdb.org/t/p/w500/"+movie['poster_path'] %}
{% else %}
{% set movie_image = "https://anest.ufl.edu/files/2015/04/No_image_available.jpg" %}
{% endif %}
{% set movie_name = movie['title'] %}
{% set movie_id = movie['id'] %}
{% set movie_overview = movie['overview'] %}

<!-- Card -->
<div class="card card-cascade wider reverse col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-6 p-1 m-1">

  <!-- Card image -->
  <div class="view view-cascade overlay">
       <img class="card-img-top" src="{{ movie_image }}">
    <a href="{{ movie_url }}" target="_blank">
      <div class="mask flex-center rgba-white-light"><p class="white-text" style="font-size:20px;">CLICK FOR MOVIE INFO</p></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body card-body-cascade text-center">

    <!-- Title -->
          <h4 class="card-title" style="font-size:20px; font-family: 'Cabin Sketch', cursive;">{{ movie_name }}</h4>

    <!-- Subtitle -->
    <h6 class="font-weight-bold py-2" style="color: #399B80">synopsis</h6>
    <!-- Text -->
    <p class="card-text">{{ movie_overview }}
    </p>


  </div>
      <div class="card-tail text-center m-1 p-1">
        <form action="/save_activity">
          <button type="button" class="btn btn-outline-default waves-effect text-center" id="choose-movie" style="border-radius:20px; font-family: 'Cabin Sketch', cursive;">chewse this movie</button>
          <input type="hidden" name="movie" value="{{ movie_url, movie_image, movie_name, movie_id }}"></input>
          <input type="hidden" name="movie" value="{{ movie_name }}" id="movie-name">
        </form>
          <button type="button" class="btn btn-rounded waves-effect" style="color: red; border-radius:500px; display:none" data-toggle="modal" data-target="#exampleModal" id="youtube">
            <i class="fab fa-youtube"></i>
          </button>
          <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ movie_name }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="embed-responsive embed-responsive-4by3">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/-r33R82vOEc" allowfullscreen id="youtube-link"></iframe>
</div>

      </div>

    </div>
  </div>
</div>
     </div>
</div>







<!-- Card -->
{% endfor %}
</div>

<!-- #background color
 -->
 <script src="/static/movie_update.js"></script>

{% endblock %}

