{% extends 'base.html' %}

{% block content %}
<br>
<br>
<br>

<form action="/display_recipe_search_results" class="form-inline md-form form-sm">
  <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search by recipe name or by ingredients   Try 'chicken parmesan' or 'onions, shrimp' (ingredients must be separated by commas)" name="search" style="z-index: 9999">
    <button type="submit" style="background: none;padding: 0px;border: none;"><i class="fas fa-search" aria-hidden="true"></i></button>
</form>
Filter by:
<br>
Calories:
<br>
<select name="calories" id="calories">
    <option disabled selected value> -- Select an Option -- </option>    
    <option value="500">Less than 500 calories</option>
    <option value="1000">Less than 1000 calories</option>
    <option value="1500">Less than 1500 calories</option>
    <option value="2000">Less than 2000 calories</option>
    <option value="10000">Greater than 2000 calories</option>
</select>
<br>
Dietary Preference:
<br>
<select name="dietary" id="dietary">
    <option disabled selected value> -- Select an Option -- </option>
    <option value="balanced">Balanced</option>
    <option value="low-fat">Low-Fat</option>
    <option value="low-carbs">Low-Carbs</option>
</select>
<br>
Dietary Restrictions:
<br>
  <input type="checkbox" value="peanut-free" name="health">Peanut-Free</option>
  <input type="checkbox" value="vegetarian" name="health">Vegetarian</option>
</select>
<br>

</form>
<div class="row">
  {% for recipe in recipes %}
  {% set recipe_url = recipe['url'] %}
  {% set recipe_image = recipe['image'] %}
  {% set recipe_name = recipe['label'].split(':')[-1] %}
  {% set recipe_ing = ('; '.join(recipe['ingredientLines'])) %}
  {% set recipe_id = recipe['uri'][-32:] %}

<!-- Card -->
<div class="card card-cascade wider reverse col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-6 m-1 p-1">

  <!-- Card image -->
  <div class="view view-cascade overlay">
    <img class="card-img-top" src="{{ recipe_image }}">
    <a href="{{ recipe_url }}" target="_blank">
      <div class="mask flex-center rgba-white-light"><p class="white-text" style="font-size:20px;">CLICK FOR INSTRUCTIONS</p></div>

    </a>
  </div>

  <!-- Card content -->
  <div class="card-body card-body-cascade text-center">

    <!-- Title -->
    <h4 class="card-title" style="font-size:20px; font-family: 'Cabin Sketch', cursive;">{{ recipe_name }}</h4>
    <!-- Subtitle -->
    <h6 class="font-weight-bold py-1" style="color: #399B80">you'll need...</h6>
    <!-- Text -->
    <p class="card-text">{{ recipe_ing }}
    </p>
<div class="card-tail text-center m-1 p-1">
        <form action="/save_recipe">
          <button type="button" class="btn btn-outline-default waves-effect text-center" style="border-radius:20px; font-family: 'Cabin Sketch', cursive;">chewse this recipe</button>
          <input type="hidden" name="recipe" value="{{ recipe_url, recipe_image, recipe_name, recipe_id }}"></input>
        </form>
      </div>
  </div>
</div>

<!-- Card -->
{% endfor %}
</div>
{% endblock %}
