{% extends 'base.html' %}

{% block content %}
<br>
<br>
<br>
<form action="/display_recipe_search_results">
Search by Recipe Name or Ingredients:
    <input type="text" id="search" name="search"></input>
    <input type="submit" id="recipe-search"></input>
    <br>
    Try "chicken parmesan" or "onions, shrimp" (ingredients must be separated by commas)
    <br>
    <br>
Filter by:
<br>
Calories:
<br>
<select name="calories" id="calories">
    <option disabled selected value> -- Select an Option -- </option>    
    <option value="500">Less than 500 calories</option>
    <option value="1000">Less than 1000 calories</option>
    <option value="1500">Less than 1500 calories</option>
    <option value="2000">Less than 2000 calories</option>
    <option value="10000">Greater than 2000 calories</option>
</select>
<br>
Dietary Preference:
<br>
<select name="dietary" id="dietary">
    <option disabled selected value> -- Select an Option -- </option>
    <option value="balanced">Balanced</option>
    <option value="low-fat">Low-Fat</option>
    <option value="low-carbs">Low-Carbs</option>
</select>
<br>
Dietary Restrictions:
<br>
  <input type="checkbox" value="peanut-free" name="health">Peanut-Free</option>
  <input type="checkbox" value="vegetarian" name="health">Vegetarian</option>
</select>
<br>

</form>

  <div class="row">

  {% for recipe_row in recipes | batch(5, '&nbsp;') %}

        {% for recipe in recipe_row %}
    {% set recipe_url = recipe['url'] %}
    {% set recipe_image = recipe['image'] %}
    {% set recipe_name = recipe['label'] %}
    {% set recipe_id = recipe['uri'][-32:] %}

    <form action="/save_recipe">
  <div class="span col-xs-6">
    <a href="{{ recipe['url'] }}" target="_blank"><img src="{{ recipe['image'] }}"></a><br>{{ recipe['label'] }}
  </div>

          <input type="submit" value="Chewse This and Show Me Movies to Watch">
          <input type="hidden" name="recipe" value="{{ recipe_url, recipe_image, recipe_name, recipe_id }}"></input>
    </form>

    {% endfor %}

{% endfor %}
</div>


<!-- Grid row -->
<div class="row">

  <!-- Grid column -->
  <div class="col-md-10 col-lg-9 col-xl-6 mb-r">

    <!--Panel-->
    <div class="card card-body mb-3">
      <div class="media d-block d-md-flex">
        <img class="d-flex avatar-2 mb-md-0 mb-3 mx-auto" src="https://mdbootstrap.com/img/Others/documentation/img (31)-mini.jpg"
          alt="Generic placeholder image">
        <div class="media-body text-center text-md-left ml-md-3 ml-0">
          <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia magni dolores
            eos qui ratione voluptatem sequi nesciunt.</p>
          <button type="button" class="btn btn-primary btn-md">Read more</button>
        </div>
      </div>
    </div>
    <!--/.Panel-->

    <!--Panel-->
    <div class="card card-body mb-3">
      <div class="media d-block d-md-flex">
        <div class="media-body pr-md-3 pr-0 text-center text-md-left">
          <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est
            eligendi optio cumque nihil impedit.</p>
          <button type="button" class="btn btn-primary btn-md">Read more</button>
        </div>
        <img class="d-flex mr-3 avatar-2 mt-md-0 mt-3 mx-auto" src="https://mdbootstrap.com/img/Others/documentation/img (27)-mini.jpg"
          alt="Generic placeholder image">
      </div>
    </div>
    <!--/.Panel-->

    <!--Panel-->
    <div class="card card-body">
      <div class="media d-block d-md-flex">
        <img class="d-flex avatar-2 mb-md-0 mb-3 mx-auto" src="https://mdbootstrap.com/img/Others/documentation/img (28)-mini.jpg"
          alt="Generic placeholder image">
        <div class="media-body text-center text-md-left ml-md-3 ml-0">
          <p> Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime
            placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Itaque earum rerum
            hic tenetur a sapiente delectus.</p>
        </div>
      </div>
    </div>
    <!--/.Panel-->

  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-md-10 col-lg-9 col-xl-6">

    <!--Panel-->
    <div class="card mb-3">
      <h3 class="card-header indigo white-text text-uppercase text-center">Authors</h3>
      <div class="card-body">
        <div class="media d-block d-md-flex mt-md-0 mt-4 mb-4">
          <img class="d-flex mb-md-0 mb-3 avatar-2 rounded-circle z-depth-1 mx-auto" src="https://mdbootstrap.com/img/Others/documentation/img (3)-mini.jpg"
            alt="Generic placeholder image">
          <div class="media-body ml-md-3 ml-0">
            <p align="justify">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
              deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
              provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum
              fuga.
            </p>
            <div class="text-center text-md-left">
              <button type="button" class="btn btn-indigo btn-rounded btn-md">Read more</button>
            </div>
          </div>
        </div>

        <div class="media d-block d-md-flex">
          <div class="media-body mr-md-3 mr-0">
            <p align="justify">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis
              est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis
              voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis.</p>
            <div class="text-center text-md-left">
              <button type="button" class="btn btn-indigo btn-rounded btn-md">Read more</button>
            </div>
          </div>
          <img class="d-flex mr-3 mb-md-0 mb-3 mt-md-0 mt-4 avatar-2 rounded-circle z-depth-1 mx-auto" src="https://mdbootstrap.com/img/Others/documentation/img (2)-mini.jpg"
            alt="Generic placeholder image">
        </div>
      </div>
    </div>
    <!--/.Panel-->

  </div>
  <!-- Grid column -->

</div>
<!-- Grid row -->




{% endblock %}



<!-- 
{% for recipe in recipes %}
    {% set recipe_url = recipe['url'] %}
    {% set recipe_image = recipe['image'] %}
    {% set recipe_name = recipe['label'] %}
    {% set recipe_id = recipe['uri'][-32:] %}
<form action="/save_recipe">

      <a href="{{ recipe_url }}" target="_blank">
      <img src="{{ recipe_image }}"></a> 
        <br>
      {{ recipe_name }}
        <br>
          <input type="submit" value="Chewse This and Show Me Movies to Watch">
          <input type="hidden" name="recipe" value="{{ recipe_url, recipe_image, recipe_name, recipe_id }}"></input>
</form> -->