{% extends 'base.html' %}

{% block content %}
<br>
<br>
<br>

<form action="/display_recipe_search_results" class="form-inline md-form form-sm">
  <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search by recipe name or by ingredients (ingredients must be separated by commas)" name="search" style="color: #683200; font-size:25px">
    <button type="submit" style="background: none;padding: 0px;border: none;"><i class="fas fa-search" aria-hidden="true" style="color:#683200"></i></button>
</form>

<form action="/display_movie_rec_by_filters"> 
<div class="btn-group">
  <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border-radius:50px; color:#683200; font-family: 'Cabin Sketch', cursive; font-size:25px">Calories</button>
  <div class="dropdown-menu dropdown-menu-right" name="calories">
    <button class="dropdown-item" type="button" value="500">0-500 Calories</button>
    <button class="dropdown-item" type="button" value="1000">501-1000 Calories</button>
    <button class="dropdown-item" type="button" value="1500">1001-1500 Calories</button>
    <button class="dropdown-item" type="button" value="2000">1501-2000 Calories</button>
    <button class="dropdown-item" type="button" value="10000">2000+ Calories</button>
  </div>
  </div>
<div class="btn-group">

  <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border-radius:50px; color:#683200; font-family: 'Cabin Sketch', cursive; font-size:25px">Dietary Preference</button>
  
  <div class="dropdown-menu dropdown-menu-right" name="dietary">
    <button class="dropdown-item" type="button" value="balanced">Balanced</button>
    <button class="dropdown-item" type="button" value="low-fat">Low-Fat</button>
    <button class="dropdown-item" type="button" value="low-carbs">Low-Carbs</button>
  </div>
    </div>
<div class="btn-group">

  <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border-radius:50px; color:#683200; font-family: 'Cabin Sketch', cursive; font-size:25px">Dietary Restrictions </button>
<div class="dropdown-menu dropdown-menu-right" name="health">
  <button class="dropdown-item" type="button" value="peanut-free">Peanut-Free</button>
    <button class="dropdown-item" type="button" value="vegetarian">Vegetarian</button>
</div>
    </div>

</form>

<div class="row">
  {% for recipe in recipes %}
  {% set recipe_url = recipe['url'] %}
  {% set recipe_image = recipe['image'] %}
  {% set recipe_name = recipe['label'].split(':')[-1] %}
  {% set recipe_ing = ('; '.join(recipe['ingredientLines'])) %}
  {% set recipe_id = recipe['uri'][-32:] %}

<!-- Card -->
<div class="card card-cascade wider reverse col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-6 m-1 p-1" style="background-image: url('https://images.unsplash.com/photo-1516541196182-6bdb0516ed27?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80')">

  <!-- Card image -->
  <div class="view view-cascade overlay">
    <img class="card-img-top" src="{{ recipe_image }}">
    <a href="{{ recipe_url }}" target="_blank">
      <div class="mask flex-center rgba-white-light"><p class="white-text" style="font-size:20px;">CLICK FOR INSTRUCTIONS</p></div>

    </a>
  </div>

  <!-- Card content -->
  <div class="card-body card-body-cascade text-center">

    <!-- Title -->
    <h4 class="card-title" style="font-size:20px; font-family: 'Cabin Sketch', cursive; font-size:30px">{{ recipe_name }}</h4>
    <!-- Subtitle -->
    <h6 class="font-weight-bold py-1" style="color: #399B80; font-size: 25px">you'll need...</h6>
    <!-- Text -->
    <p class="card-text" style="font-size:25px">{{ recipe_ing }}</p>
  </div>
<div class="card-tail text-center m-1 p-1">
        <form action="/save_recipe">
          <button type="button" class="btn btn-outline-default waves-effect text-center" style="border-radius:20px; font-family: 'Cabin Sketch', cursive; font-size:20px">chewse this recipe</button>
          <input type="hidden" name="recipe" value="{{ recipe_url, recipe_image, recipe_name, recipe_id }}"></input>
        </form>
      </div>
  </div>

<!-- Card -->
{% endfor %}
</div>
{% endblock %}
