
<div class="row">

  <!-- Grid column -->
  <div class="col-s-6 col-md-6 col-lg-6 col-xl-6 mb-r">
    <div class="card mb-3">
      <h3 class="card-header indigo white-text text-uppercase text-center">Authors</h3>
      <div class="card-body">
        <div class="media d-block d-md-flex mt-md-0 mt-4 mb-4">
          <img class="d-flex mb-md-0 mb-3 avatar-2 rounded-circle z-depth-1 mx-auto" src="https://mdbootstrap.com/img/Others/documentation/img (3)-mini.jpg"
            alt="Generic placeholder image">
          <div class="media-body ml-md-3 ml-0">
            <p align="justify">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
              deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
              provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum
              fuga.
            </p>
            <div class="text-center text-md-left">
              <button type="button" class="btn btn-indigo btn-rounded btn-md">Read more</button>
            </div>
          </div>
        </div>

        <div class="media d-block d-md-flex">
          <div class="media-body mr-md-3 mr-0">
            <p align="justify">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis
              est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis
              voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis.</p>
            <div class="text-center text-md-left">
              <button type="button" class="btn btn-indigo btn-rounded btn-md">Read more</button>
            </div>
          </div>
          <img class="d-flex mr-3 mb-md-0 mb-3 mt-md-0 mt-4 avatar-2 rounded-circle z-depth-1 mx-auto" src="https://mdbootstrap.com/img/Others/documentation/img (2)-mini.jpg"
            alt="Generic placeholder image">
        </div>
      </div>
    </div>
</div>
</div>